.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */

/* .box-container {
  display: grid;
  height: 700px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.box1 {
  background-color: blueviolet;
}

.box2 {
  background-color: violet;
}
.box3 {
  background-color: blue;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

.box21 {
  background-color: blue;
  /* grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 3; */
  /* grid-row: 1/3;
  grid-column: 1/3; */
  grid-area: 1/1/3/3;
}
.box22 {
  background-color: violet;
  /* grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 4; */
  /* grid-row: 2/4;
  grid-column: 3/4; */
  grid-area: 2/3/4/4;
}
.box23 {
  background-color: red;
  /* grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3; */
  /* grid-row: 2/4;
  grid-column: 4/3; */
  grid-area: 3/2/4/3;
}
