@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: #3498db;
  --background-color: #f4f4f4;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: var(--background-color);
  margin: 0;
}

.container {
  width: 70vw;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  padding: 20px;
  background-color: rgba(52, 152, 219, 0.5);
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

header h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.job-title {
  font-style: italic;
  color: #7f8c8d;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: rgb(52, 73, 94);
}

.menu a {
  text-decoration: none;
  font-weight: bold;
  color: #ecf0f1;
  padding: 10px;
}

.menu li a:hover {
  color: #3498db;
  text-decoration: underline;
}

section {
  margin: 20px 0;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #2c3e50;
}

.about p {
  margin: 15px 0;
  text-align: justify;
  font-size: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #ecf0f1;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

#contact p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2980b9;
}
