/*---------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------- VZHLED ------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  grid-area: header;
  background-color: #3e873f;
  color: white;
  display: grid;
  align-items: center;
  justify-items: center;
}

.header h1 {
  margin: auto;
  font-size: 56px;
}

.menu {
  grid-area: menu;
  background-color: #f4f4f4;
  padding: 20px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
}

.content {
  grid-area: content;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ddd;
}

h2 {
  text-align: center;
  font-size: 48px;
  color: #1f3a1f;
  font-weight: bold;
}

.container-2 div {
  border-radius: 8px;
}

.image-1 {
  background-image: url("/lekce-7-konzulace/konzultace_21_10/images/parrot.jpg");
  grid-area: a;
  background-size: cover;
}
.image-2 {
  background-image: url("/lekce-7-konzulace/konzultace_21_10/images/parrot_blue.jpg");
  grid-area: b;
  background-size: cover;
  background-position: center;
}
.image-3 {
  background-image: url("/lekce-7-konzulace/konzultace_21_10/images/parrot_red.jpg");
  grid-area: c;
  background-size: cover;
  background-position: right;
}
.image-4 {
  background-image: url("/lekce-7-konzulace/konzultace_21_10/images/parrot_red.jpg");
  grid-area: d;
  background-size: cover;
  background-position: center;
}
.image-5 {
  background-image: url("/lekce-7-konzulace/konzultace_21_10/images/parrot_blue.jpg");
  grid-area: e;
  background-size: cover;
  background-position: center;
}
.image-6 {
  background-image: url("/lekce-7-konzulace/konzultace_21_10/images/parrot_yellow.jpg");
  grid-area: f;
  background-size: cover;
}
.image-7 {
  background-image: url("/lekce-7-konzulace/konzultace_21_10/images/parrot_red.jpg");
  grid-area: g;
  background-size: cover;
  background-position: center;
}

.text {
  color: white;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.text-1 {
  grid-area: t;
  background-color: #426b43;
}
.text-2 {
  grid-area: x;
  background-color: #748e75;
}

.text-3 {
  grid-area: y;
  background-color: #426b43;
  font-size: 24px;
}

/* Boční panel styl */
.sidebar {
  grid-area: sidebar;
  background-color: #f0f0f0;
  text-align: center;
}

.sidebar img {
  width: 100%;
}

/* Footer styl */
.footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  text-align: center;
}

@media (max-width: 1600px) {
  .menu {
    padding: 0;
  }

  .menu ul {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 1300px) {
  .sidebar img {
    height: 200px;
    width: auto;
  }
}

/*------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------- GRID LAYOUT -------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------*/

/*základní layout stránky pro počítač*/
.grid-container {
  padding: 10px;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 100px 200px auto 75px;
  grid-template-areas:
    "header header header"
    "nav main sidebar"
    ". main sidebar"
    "footer footer footer";
  gap: 10px;
}

header {
  grid-area: header;
}
.menu {
  grid-area: nav;
}
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
/*layout galerie (schéma 1)*/
.container-2 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "a a a b b t t t"
    "a a a b b t t t"
    "a a a b b e c c"
    "a a a x x e c c"
    "a a a x x d d d"
    "g g f f y d d d"
    "g g f f y d d d";
  gap: 10px;
  height: 100vh;
}

@media (max-width: 1600px) {
  /*základní layout stránky pro menší počítač (menu jde nad main)*/
  .grid-container {
    grid-template-columns: 1fr 300px;
    grid-template-rows: 100px 75px auto 75px;
    grid-template-areas:
      "header header"
      "nav nav"
      "main sidebar"
      "footer footer";
  }
}

@media (max-width: 1300px) {
  /*základní layout stránky pro tablet (reklamy jdou pod main)*/
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 75px auto 250px 75px;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "sidebar"
      "footer";
  }

  /*layout pro .sidebar (h1 nahoře, 2 fotky reklamy pod ním, vedle sebe)*/
  .sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  .sidebar h3 {
    grid-area: 1/1/1/3;
  }

  .reklama-1 {
  }

  .reklama-2 {
  }
}

@media (max-width: 991px) {
  /*layout pro galerii (schéma 2)*/
  .container-2 {
  }
}

@media (max-width: 500px) {
  /*layout pro galerii (schéma 3)*/
  .container-2 {
  }
}
