* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at top, #001f3f, #000000 70%);
  color: #fff;
}

.form-box {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-box h2 {
  margin-top: 20px;
}

#userForm {
  margin-top: 20px;
  text-align: center;
}

#userForm button {
  margin-top: 20px;
  background-color: #e50914;
  color: white;
  border: none;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.input {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.input input {
  outline: none;
  margin-bottom: 5px;
}
