* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #ffa078;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
}

.search-bar input {
  padding: 5px;
  margin-right: 5px;
  width: 80%;
  border: 1px solid;
  border-radius: 4px;
  transition: width 1s;
}

.search-bar input:focus {
  width: 100%;
}

.search-bar button {
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.hamburger-menu {
  font-size: 1.5rem;
  cursor: pointer;
}
